.todos__item {
  display: flex;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: #ffd000;
  align-items: center;
  transition: 0.2s;
}

.todos__item:hover {
  box-shadow: 0 0 5px #000;
  transform: scale(1.03);
}

.todos__item_text {
  border: none;
  flex: 1;
  font-size: 20px;
  padding: 5px;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.todos__item_text:focus {
  outline: none;
}

.todos__item_control {
  display: flex;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag {
  box-shadow: 0 0 20px #000;
}
